<a href="https://colab.research.google.com/github/cmouraandreza/GPA-Beatriz-analises/blob/main/teste_analise_anosim_dados_vegan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#install.packages("vegan")
library("vegan")

Loading required package: permute

In [23]:
dados <- read.csv(
  "https://raw.githubusercontent.com/cmouraandreza/GPA-Beatriz-analises/main/Data/ECO.csv",
  quote = ""
)
head(dados)

com = dados[1:30]
m_com = as.matrix(com)

  Achimill Agrostol Airaprae Alopgeni Anthodor Bellpere Bromhord Chenalbu
1 1        0        0        0        0        0        0        0
2 3        0        0        2        0        3        4        0
3 0        4        0        7        0        2        0        0
4 0        8        0        2        0        2        3        0
5 2        0        0        0        4        2        2        0
6 2        0        0        0        3        0        0        0
  Cirsarve Comapalu ⋯ Trifprat Trifrepe Vicilath Bracruta Callcusp A1  Moisture
1 0        0        ⋯ 0        0        0        0        0        2.8 1
2 0        0        ⋯ 0        5        0        0        0        3.5 1
3 0        0        ⋯ 0        2        0        2        0        4.3 2
4 2        0        ⋯ 0        1        0        2        0        4.2 2
5 0        0        ⋯ 2        2        0        2        0        6.3 1
6 0        0        ⋯ 5        5        0        6        0        4.3 1
  Management Use      Manure
1 SF         Haypastu 4
2 BF         Haypastu 2
3 SF         Haypastu 4
4 SF         Haypastu 4
5 HF         Hayfield 2
6 HF         Haypastu 2

In [28]:
#make community matrix - extract columns with abundance information, turn data frame into matrix
com = dados[1:30]
m_com = as.matrix(com)

head(com)

  Achimill Agrostol Airaprae Alopgeni Anthodor Bellpere Bromhord Chenalbu
1 1        0        0        0        0        0        0        0
2 3        0        0        2        0        3        4        0
3 0        4        0        7        0        2        0        0
4 0        8        0        2        0        2        3        0
5 2        0        0        0        4        2        2        0
6 2        0        0        0        3        0        0        0
  Cirsarve Comapalu ⋯ Ranuflam Rumeacet Sagiproc Salirepe Scorautu Trifprat
1 0        0        ⋯ 0        0        0        0        0        0
2 0        0        ⋯ 0        0        0        0        5        0
3 0        0        ⋯ 0        0        0        0        2        0
4 2        0        ⋯ 0        0        5        0        2        0
5 0        0        ⋯ 0        5        0        0        3        2
6 0        0        ⋯ 0        6        0        0        3        5
  Trifrepe Vicilath Bracruta Callcusp
1 0        0        0        0
2 5        0        0        0
3 2        0        2        0
4 1        0        2        0
5 2        0        2        0
6 5        0        6        0

In [29]:
head(m_com)

     Achimill Agrostol Airaprae Alopgeni Anthodor Bellpere Bromhord Chenalbu
[1,] 1        0        0        0        0        0        0        0
[2,] 3        0        0        2        0        3        4        0
[3,] 0        4        0        7        0        2        0        0
[4,] 0        8        0        2        0        2        3        0
[5,] 2        0        0        0        4        2        2        0
[6,] 2        0        0        0        3        0        0        0
     Cirsarve Comapalu ⋯ Ranuflam Rumeacet Sagiproc Salirepe Scorautu Trifprat
[1,] 0        0        ⋯ 0        0        0        0        0        0
[2,] 0        0        ⋯ 0        0        0        0        5        0
[3,] 0        0        ⋯ 0        0        0        0        2        0
[4,] 2        0        ⋯ 0        0        5        0        2        0
[5,] 0        0        ⋯ 0        5        0        0        3        2
[6,] 0        0        ⋯ 0        6        0        0        3        5
     Trifrepe Vicilath Bracruta Callcusp
[1,] 0        0        0        0
[2,] 5        0        0        0
[3,] 2        0        2        0
[4,] 1        0        2        0
[5,] 2        0        2        0
[6,] 5        0        6        0

**ANOSIM** = Analysis of Similarities.
Ela testa se as comunidades (composição de espécies) são mais parecidas dentro do mesmo grupo do que entre grupos diferentes.

Pensa assim:

* Você tem várias amostras (sites, pontos, meses…)

* Cada amostra tem abundâncias/presenças de espécies

* Você quer saber se “grupo A” tem comunidade diferente de “grupo B”

Ela é tipo um “ANOVA” só que usando distâncias ecológicas e permutação.

In [30]:

ano = anosim(m_com, dados$Management, distance = "bray", permutations = 9999)
ano

Call:
anosim(x = m_com, grouping = dados$Management, permutations = 9999,      distance = "bray")
Dissimilarity: bray

ANOSIM statistic R: 0.2579
      Significance: 0.0109

Permutation: free
Number of permutations: 9999

**ANOSIM** precisa de réplicas por grupo para:

* funcionar corretamente

* ter poder estatístico

* fazer sentido ecológico

Com 1 amostra por grupo, o teste até pode rodar, mas o resultado não é confiável.

In [31]:
head(dados$Management)

[1] "SF" "BF" "SF" "SF" "HF" "HF"

In [34]:
#to find out which species are found statistically more abundantly in one group versus another,
#try Indicator species analysis
#install.packages("indicspecies")
library(indicspecies)

In [35]:

inv = multipatt(com, dados$Management, func = "r.g", control = how(nperm=9999))
summary(inv)
#BF (Biological farming),
#HF (Hobby farming),
#NM (Nature Conservation Management)
#SF (Standard Farming).

 Multilevel pattern analysis
 ---------------------------

 Association function: r.g
 Significance level (alpha): 0.05

 Total number of species: 30
 Selected number of species: 10
 Number of species associated to 1 group: 6
 Number of species associated to 2 groups: 0
 Number of species associated to 3 groups: 4

 List of species associated to each combination:

 Group BF  #sps.  3
          stat p.value
Vicilath 0.669  0.0350 *
Bromhord 0.617  0.0394 *
Trifrepe 0.603  0.0443 *

 Group HF  #sps.  2
          stat p.value
Rumeacet 0.761  0.0050 **
Trifprat 0.648  0.0427 *

 Group SF  #sps.  1
          stat p.value
Alopgeni 0.638  0.0266 *

 Group BF+HF+NM  #sps.  1
          stat p.value
Scorautu 0.595  0.0482 *

 Group BF+HF+SF  #sps.  3
          stat p.value
Poatriv  0.694  0.0077 **
Poaprat  0.655  0.0270 *
Lolipere 0.628  0.0293 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1